.day {
    text-decoration: underline;
}

select {
    width: 100%;
}

#cancel-entry-form {
    width: 100%;
    text-align: center;
    display: block;
}

#entry-form {
    border: 1px solid #D1D1D1;
    border-radius: 20px;
    display: block;
    padding: 10px;
    margin-bottom: 2.5rem;
}

#entry-form form {
    margin-bottom: 0;
}

/* Used for the checkboxes */
#entry-form div.checkbox {
    width: 30.6666666667%;
    float: left;
    box-sizing: border-box;
}

/* Task checkboxes */
span.todo-icon {
    content: "";
    float: left;
    height: 24px;
    width: 24px;
    margin-right: 0.5rem;
}
span.todo-icon.checked {
   background: url('/static/img/todo-check-done.png') 0 0 no-repeat;
}
span.todo-icon.unchecked {
   background: url('/static/img/todo-check.png') 0 0 no-repeat;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
    /* Resets the type select box */
    select {
        width: auto;
    }

    /* Resets centering of the "cancel" button */
    #cancel-entry-form {
        display: inline;
    }
}