/********************/
/****** Colors ******/
/********************/
/* Primary text: #222 */

/* Link text: #1EAEDB */

/* Primary buttons: #1EAEDB */

/* Error messages: #E13566 */

/* Success messages: #14E8A6 */

/***********************/
/****** Utilities ******/
/***********************/
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
/*************************/
/****** Custom CSS *******/
/*************************/
a {
    text-decoration: none;
}

input {
    margin-right: 0.5rem;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]{
    width: 100%;
}

.brand {
    display: none;
}

.header {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}

.error {
    color: #E13566;
}

.error-input {
    border-color: #E13566 !important;
}

.messages {
    margin: 2rem 0;
}

.success {
    color: #14E8A6;
    border: 1px solid #14E8A6;
    border-radius: 4px;
    padding: 0.5rem 1rem;

}

/* For devices larger than 400px */
@media (min-width: 400px) {
    /* Resets the button size */
    .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        width: auto;
    }

    .brand {
        display: block;
    }

    .header {
        padding-top: 15rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}