/********************/
/****** Colors ******/
/********************/
/* Primary text: #222 */

/* Link text: #1EAEDB */

/* Primary buttons: #1EAEDB */

/* Error messages: #E13566 */

/***********************/
/****** Utilities ******/
/***********************/
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.full-height {
    /*height: 100%;*/
}
/*************************/
/****** Custom CSS *******/
/*************************/

html, body {
    /*height: 100%;*/
    /*min-width: 100%;*/
}

a {
    text-decoration: none;
}

.navbar {
    /*min-height: 100%;*/
    padding-right: 30px;
    /*background-color: #F5F5F5;*/
}

.content {
    /*min-height: 100%;*/
    /*background-color: #FAFAFA;*/
    padding-top: 5rem;
}

.header {
    padding-top: 15rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
}

.day {
    text-decoration: underline;
}

.error {
    color: #E13566;
}

a.no-decoration {
    text-decoration: none;
    color: inherit;
}