{% extends 'base.html' %}

{% block content %}
    <div class="eight columns">
        <div class="row">
            <div id="add-entry" class="twelve columns">
                <h4><a href="javascript:void(0)" id="add-entry-link">Add New Entry</a></h4>
            </div>
            <div id="entry-form" class="twelve columns">
                <p>This is an entry</p>
                <a href="javascript:void(0)" id="cancel-entry-form">Cancel</a>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
            {% for day, day_entries in entries.items %}
                {% if day_entries %}
                    <h3 class="day">{{ day | date:"l, F j Y" }}</h3>
                    {% for entry in day_entries %}
                        {% include "entry.html" %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}