{% load staticfiles %}

<div class="{{ entry.get_class_name }} row">
    <div class="glyphicons two columns">
        &nbsp;
        {% if entry.priority %}
            <img src="{% static 'img/priority.png' %}">
{#            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>#}
        {% endif %}

        {% if entry.explore %}
            <img src="{% static 'img/explore.png' %}">
{#            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>#}
        {% endif %}

        {% if entry.inspiration %}
            <img src="{% static 'img/inspiration.png' %}">
{#            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>#}
        {% endif %}

    </div>

    <div class="description ten columns">
        <p>
            {% if entry.get_class_name == "Note" %}
                &#x25CF;
            {% elif entry.get_class_name == "Event" %}
                &#x25CB;
            {% else %}
                <span id="{{ entry.id }}" class="todo-icon {% if entry.completed %}checked{% else %}unchecked{% endif %}" aria-hidden="true"></span>
            {% endif %}
            {{ entry.description }}
        </p>
    </div>
</div>