{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Page Needs –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<meta charset="utf-8">
  	<title>{% block title %} Bullet Journal Online {% endblock title %}</title>
  	<meta name="description" content="">
  	<meta name="author" content="rbonick">

	<!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% block font %}
  	    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    {% endblock font %}

  	<!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/glyphicons.css' %}">

        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">

        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% endblock css %}

  	<!-- Favicon –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% block favicon %}
  	    <link rel="icon" type="image/png" href="images/favicon.png" />
    {% endblock favicon %}
</head>
<body>
	{% block body %}
	<!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<div class="container content">
    	{% block navbar %}
            <div class="navbar four columns">
            	<div class="row">
                    <div class="text-right">
                    	<h5>
							{% if user.is_authenticated %}
								<a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
							{% else %}
								<a href="{% url 'django.contrib.auth.views.login' %}">Log In / Register</a>
							{% endif %}
                        </h5>
                    </div>
                </div>
            	<h4 class="text-right"><a href="{% url 'home' %}">Next Seven Days</a></h4>
           	 	<h4 class="text-right"><a href="{% url "entries" current_date.year current_date.month %}">{{ current_date | date:"F Y" }}</a></h4>
                <h4 class="text-right"><a href="{% url "view_archive" %}">Archive</a></h4>
            </div>
		{% endblock navbar %}

        {% block content %}
    		<div class="eight columns">
				<div class="row">
					<div class="twelve columns"><h1 class="text-center">Welcome to Bullet Journal Online</h1></div>
				</div>
        	</div>
        {% endblock content %}
	</div>
    <!-- End Document  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	{% endblock body %}

	{% block scripts %}
        <!-- JQuery -->
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

        <!-- Custom scripts -->
        <script src="{% static 'entries/js/entries.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
	{% endblock scripts %}
</body>
</html>
