{% extends "base.html" %}

{% block navbar %} {% endblock navbar %}

{% block content %}
    <section class="header">
        <h1>Welcome to Bullet Journal Online</h1>
        <p>The <a href="http://bulletjournal.com/">Bullet Journal</a> is an organizational system utilized by
            productive people worldwide. Bullet Journal Online implements a web version of the system to allow for
            anyone to use the system across multiple devices including phones, tablets, and laptops.</p>
    </section>

    <div class="row">
        <div class="six columns">
            <h3 class="text-center">Get Started</h3>
        </div>

        <div class="six columns">
            <h3 class="text-center">Log In</h3>
        </div>
    </div>
{% endblock content %}